# Introduction to NumPy & Pandas - Iris dataset

## 1. Import packages

In [44]:
import numpy as np
import pandas as pd

## 2. Import the Iris dataset into a Pandas DataFrame

In [45]:
url = 'C:/Users/annika/Nextcloud/Dokumente/_My_Workshops_Trainings/Github/Quickstart_Python_Jupyter/Datasets/Iris.csv'
#url = 'https://github.com/anolte-DSC/Python_for_Earth_Sciences/blob/main/Quickstart_Python_Jupyter/Datasets/Iris.csv'
data = pd.read_csv(url)

## 3. Explore the data

Plot the first 5 rows of the dataset.

In [15]:
data.head(5) # note: indexing starts at 0!

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

How many samples per species?

In [17]:
data['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

Plot basic statistics of the dataset.

In [19]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

## 4. Data manipulation

Check for missing values.

In [21]:
data.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

Create a new feature as a function of other features.

In [46]:
data['PetalAreaCm2'] = data['PetalLengthCm'] * data['PetalWidthCm'] 
data.head(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,PetalAreaCm2
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0.28
1,2,4.9,3.0,1.4,0.2,Iris-setosa,0.28
2,3,4.7,3.2,1.3,0.2,Iris-setosa,0.26
3,4,4.6,3.1,1.5,0.2,Iris-setosa,0.30
4,5,5.0,3.6,1.4,0.2,Iris-setosa,0.28

## 5. Data analysis with NumPy

Convert DataFrame to NumPy array.

In [56]:
# Factorize the species column to convert it into integers:
data_int = data.copy()
data_int['Species'], unique_species = pd.factorize(data['Species'])
species_mapping = dict(enumerate(unique_species)) # mapping of species to integers
print("Species to integer mapping:", species_mapping)
# Receive NumPy aray from DataFrame
data_array = data_int.iloc[:, 1:].values
data_array

Species to integer mapping: {0: 'Iris-setosa', 1: 'Iris-versicolor', 2: 'Iris-virginica'}

array([[ 5.1 ,  3.5 ,  1.4 ,  0.2 ,  0.  ,  0.28],
       [ 4.9 ,  3.  ,  1.4 ,  0.2 ,  0.  ,  0.28],
       [ 4.7 ,  3.2 ,  1.3 ,  0.2 ,  0.  ,  0.26],
       [ 4.6 ,  3.1 ,  1.5 ,  0.2 ,  0.  ,  0.3 ],
       [ 5.  ,  3.6 ,  1.4 ,  0.2 ,  0.  ,  0.28],
       [ 5.4 ,  3.9 ,  1.7 ,  0.4 ,  0.  ,  0.68],
       [ 4.6 ,  3.4 ,  1.4 ,  0.3 ,  0.  ,  0.42],
       [ 5.  ,  3.4 ,  1.5 ,  0.2 ,  0.  ,  0.3 ],
       [ 4.4 ,  2.9 ,  1.4 ,  0.2 ,  0.  ,  0.28],
       [ 4.9 ,  3.1 ,  1.5 ,  0.1 ,  0.  ,  0.15],
       [ 5.4 ,  3.7 ,  1.5 ,  0.2 ,  0.  ,  0.3 ],
       [ 4.8 ,  3.4 ,  1.6 ,  0.2 ,  0.  ,  0.32],
       [ 4.8 ,  3.  ,  1.4 ,  0.1 ,  0.  ,  0.14],
       [ 4.3 ,  3.  ,  1.1 ,  0.1 ,  0.  ,  0.11],
       [ 5.8 ,  4.  ,  1.2 ,  0.2 ,  0.  ,  0.24],
       [ 5.7 ,  4.4 ,  1.5 ,  0.4 ,  0.  ,  0.6 ],
       [ 5.4 ,  3.9 ,  1.3 ,  0.4 ,  0.  ,  0.52],
       [ 5.1 ,  3.5 ,  1.4 ,  0.3 ,  0.  ,  0.42],
       [ 5.7 ,  3.8 ,  1.7 ,  0.3 ,  0.  ,  0.51],
       [ 5.1 ,  3.8 ,  1.5 ,  0.3 ,  0.  ,  0.45],
       [ 5.4 ,  3.4 ,  1.7 ,  0.2 ,  0.  ,  0.34],
       [ 5.1 ,  3.7 ,  1.5 ,  0.4 ,  0.  ,  0.6 ],
       [ 4.6 ,  3.6 ,  1.  ,  0.2 ,  0.  ,  0.2 ],
       [ 5.1 ,  3.3 ,  1.7 ,  0.5 ,  0.  ,  0.85],
       [ 4.8 ,  3.4 ,  1.9 ,  0.2 ,  0.  ,  0.38],
       [ 5.  ,  3.  ,  1.6 ,  0.2 ,  0.  ,  0.32],
       [ 5.  ,  3.4 ,  1.6 ,  0.4 ,  0.  ,  0.64],
       [ 5.2 ,  3.5 ,  1.5 ,  0.2 ,  0.  ,  0.3 ],
       [ 5.2 ,  3.4 ,  1.4 ,  0.2 ,  0.  ,  0.28],
       [ 4.7 ,  3.2 ,  1.6 ,  0.2 ,  0.  ,  0.32],
       [ 4.8 ,  3.1 ,  1.6 ,  0.2 ,  0.  ,  0.32],
       [ 5.4 ,  3.4 ,  1.5 ,  0.4 ,  0.  ,  0.6 ],
       [ 5.2 ,  4.1 ,  1.5 ,  0.1 ,  0.  ,  0.15],
       [ 5.5 ,  4.2 ,  1.4 ,  0.2 ,  0.  ,  0.28],
       [ 4.9 ,  3.1 ,  1.5 ,  0.1 ,  0.  ,  0.15],
       [ 5.  ,  3.2 ,  1.2 ,  0.2 ,  0.  ,  0.24],
       [ 5.5 ,  3.5 ,  1.3 ,  0.2 ,  0.  ,  0.26],
       [ 4.9 ,  3.1 ,  1.5 ,  0.1 ,  0.  ,  0.15],
       [ 4.4 ,  3.  ,  1.3 ,  0.2 ,  0.  ,  0.26],
       [ 5.1 ,  3.4 ,  1.5 ,  0.2 ,  0.  ,  0.3 ],
       [ 5.  ,  3.5 ,  1.3 ,  0.3 ,  0.  ,  0.39],
       [ 4.5 ,  2.3 ,  1.3 ,  0.3 ,  0.  ,  0.39],
       [ 4.4 ,  3.2 ,  1.3 ,  0.2 ,  0.  ,  0.26],
       [ 5.  ,  3.5 ,  1.6 ,  0.6 ,  0.  ,  0.96],
       [ 5.1 ,  3.8 ,  1.9 ,  0.4 ,  0.  ,  0.76],
       [ 4.8 ,  3.  ,  1.4 ,  0.3 ,  0.  ,  0.42],
       [ 5.1 ,  3.8 ,  1.6 ,  0.2 ,  0.  ,  0.32],
       [ 4.6 ,  3.2 ,  1.4 ,  0.2 ,  0.  ,  0.28],
       [ 5.3 ,  3.7 ,  1.5 ,  0.2 ,  0.  ,  0.3 ],
       [ 5.  ,  3.3 ,  1.4 ,  0.2 ,  0.  ,  0.28],
       [ 7.  ,  3.2 ,  4.7 ,  1.4 ,  1.  ,  6.58],
       [ 6.4 ,  3.2 ,  4.5 ,  1.5 ,  1.  ,  6.75],
       [ 6.9 ,  3.1 ,  4.9 ,  1.5 ,  1.  ,  7.35],
       [ 5.5 ,  2.3 ,  4.  ,  1.3 ,  1.  ,  5.2 ],
       [ 6.5 ,  2.8 ,  4.6 ,  1.5 ,  1.  ,  6.9 ],
       [ 5.7 ,  2.8 ,  4.5 ,  1.3 ,  1.  ,  5.85],
       [ 6.3 ,  3.3 ,  4.7 ,  1.6 ,  1.  ,  7.52],
       [ 4.9 ,  2.4 ,  3.3 ,  1.  ,  1.  ,  3.3 ],
       [ 6.6 ,  2.9 ,  4.6 ,  1.3 ,  1.  ,  5.98],
       [ 5.2 ,  2.7 ,  3.9 ,  1.4 ,  1.  ,  5.46],
       [ 5.  ,  2.  ,  3.5 ,  1.  ,  1.  ,  3.5 ],
       [ 5.9 ,  3.  ,  4.2 ,  1.5 ,  1.  ,  6.3 ],
       [ 6.  ,  2.2 ,  4.  ,  1.  ,  1.  ,  4.  ],
       [ 6.1 ,  2.9 ,  4.7 ,  1.4 ,  1.  ,  6.58],
       [ 5.6 ,  2.9 ,  3.6 ,  1.3 ,  1.  ,  4.68],
       [ 6.7 ,  3.1 ,  4.4 ,  1.4 ,  1.  ,  6.16],
       [ 5.6 ,  3.  ,  4.5 ,  1.5 ,  1.  ,  6.75],
       [ 5.8 ,  2.7 ,  4.1 ,  1.  ,  1.  ,  4.1 ],
       [ 6.2 ,  2.2 ,  4.5 ,  1.5 ,  1.  ,  6.75],
       [ 5.6 ,  2.5 ,  3.9 ,  1.1 ,  1.  ,  4.29],
       [ 5.9 ,  3.2 ,  4.8 ,  1.8 ,  1.  ,  8.64],
       [ 6.1 ,  2.8 ,  4.  ,  1.3 ,  1.  ,  5.2 ],
       [ 6.3 ,  2.5 ,  4.9 ,  1.5 ,  1.  ,  7.35],
       [ 6.1 ,  2.8 ,  4.7 ,  1.2 ,  1.  ,  5.64],
       [ 6.4 ,  2.9 ,  4.3 ,  1.3 ,  1.  ,  5.59],
       [ 6.6 ,  3.  ,  4.4 ,  1.4 ,  1.  ,  6.16],
       [ 6.8 ,  2.8 ,  4.8 ,  1.4 ,  1.  ,  6.72],
       [ 6.7 ,  3.  ,  5.  ,  1.7 ,  1.  ,  8.5 ],
       [ 6.  ,  2.9 ,  4.5 ,  1.5 ,  1.  ,  6.75],
       [ 5.7 ,  2.6 ,  3.5 ,  1.  ,  1.  ,  3.5 ],
       [ 5.5 ,  2.4 ,  3.8 ,  1.1 ,  1.  ,  4.18],
       [ 5.5 ,  2.4 ,  3.7 ,  1.  ,  1.  ,  3.7 ],
       [ 5.8 ,  2.7 ,  3.9 ,  1.2 ,  1.  ,  4.68],
       [ 6.  ,  2.7 ,  5.1 ,  1.6 ,  1.  ,  8.16],
       [ 5.4 ,  3.  ,  4.5 ,  1.5 ,  1.  ,  6.75],
       [ 6.  ,  3.4 ,  4.5 ,  1.6 ,  1.  ,  7.2 ],
       [ 6.7 ,  3.1 ,  4.7 ,  1.5 ,  1.  ,  7.05],
       [ 6.3 ,  2.3 ,  4.4 ,  1.3 ,  1.  ,  5.72],
       [ 5.6 ,  3.  ,  4.1 ,  1.3 ,  1.  ,  5.33],
       [ 5.5 ,  2.5 ,  4.  ,  1.3 ,  1.  ,  5.2 ],
       [ 5.5 ,  2.6 ,  4.4 ,  1.2 ,  1.  ,  5.28],
       [ 6.1 ,  3.  ,  4.6 ,  1.4 ,  1.  ,  6.44],
       [ 5.8 ,  2.6 ,  4.  ,  1.2 ,  1.  ,  4.8 ],
       [ 5.  ,  2.3 ,  3.3 ,  1.  ,  1.  ,  3.3 ],
       [ 5.6 ,  2.7 ,  4.2 ,  1.3 ,  1.  ,  5.46],
       [ 5.7 ,  3.  ,  4.2 ,  1.2 ,  1.  ,  5.04],
       [ 5.7 ,  2.9 ,  4.2 ,  1.3 ,  1.  ,  5.46],
       [ 6.2 ,  2.9 ,  4.3 ,  1.3 ,  1.  ,  5.59],
       [ 5.1 ,  2.5 ,  3.  ,  1.1 ,  1.  ,  3.3 ],
       [ 5.7 ,  2.8 ,  4.1 ,  1.3 ,  1.  ,  5.33],
       [ 6.3 ,  3.3 ,  6.  ,  2.5 ,  2.  , 15.  ],
       [ 5.8 ,  2.7 ,  5.1 ,  1.9 ,  2.  ,  9.69],
       [ 7.1 ,  3.  ,  5.9 ,  2.1 ,  2.  , 12.39],
       [ 6.3 ,  2.9 ,  5.6 ,  1.8 ,  2.  , 10.08],
       [ 6.5 ,  3.  ,  5.8 ,  2.2 ,  2.  , 12.76],
       [ 7.6 ,  3.  ,  6.6 ,  2.1 ,  2.  , 13.86],
       [ 4.9 ,  2.5 ,  4.5 ,  1.7 ,  2.  ,  7.65],
       [ 7.3 ,  2.9 ,  6.3 ,  1.8 ,  2.  , 11.34],
       [ 6.7 ,  2.5 ,  5.8 ,  1.8 ,  2.  , 10.44],
       [ 7.2 ,  3.6 ,  6.1 ,  2.5 ,  2.  , 15.25],
       [ 6.5 ,  3.2 ,  5.1 ,  2.  ,  2.  , 10.2 ],
       [ 6.4 ,  2.7 ,  5.3 ,  1.9 ,  2.  , 10.07],
       [ 6.8 ,  3.  ,  5.5 ,  2.1 ,  2.  , 11.55],
       [ 5.7 ,  2.5 ,  5.  ,  2.  ,  2.  , 10.  ],
       [ 5.8 ,  2.8 ,  5.1 ,  2.4 ,  2.  , 12.24],
       [ 6.4 ,  3.2 ,  5.3 ,  2.3 ,  2.  , 12.19],
       [ 6.5 ,  3.  ,  5.5 ,  1.8 ,  2.  ,  9.9 ],
       [ 7.7 ,  3.8 ,  6.7 ,  2.2 ,  2.  , 14.74],
       [ 7.7 ,  2.6 ,  6.9 ,  2.3 ,  2.  , 15.87],
       [ 6.  ,  2.2 ,  5.  ,  1.5 ,  2.  ,  7.5 ],
       [ 6.9 ,  3.2 ,  5.7 ,  2.3 ,  2.  , 13.11],
       [ 5.6 ,  2.8 ,  4.9 ,  2.  ,  2.  ,  9.8 ],
       [ 7.7 ,  2.8 ,  6.7 ,  2.  ,  2.  , 13.4 ],
       [ 6.3 ,  2.7 ,  4.9 ,  1.8 ,  2.  ,  8.82],
       [ 6.7 ,  3.3 ,  5.7 ,  2.1 ,  2.  , 11.97],
       [ 7.2 ,  3.2 ,  6.  ,  1.8 ,  2.  , 10.8 ],
       [ 6.2 ,  2.8 ,  4.8 ,  1.8 ,  2.  ,  8.64],
       [ 6.1 ,  3.  ,  4.9 ,  1.8 ,  2.  ,  8.82],
       [ 6.4 ,  2.8 ,  5.6 ,  2.1 ,  2.  , 11.76],
       [ 7.2 ,  3.  ,  5.8 ,  1.6 ,  2.  ,  9.28],
       [ 7.4 ,  2.8 ,  6.1 ,  1.9 ,  2.  , 11.59],
       [ 7.9 ,  3.8 ,  6.4 ,  2.  ,  2.  , 12.8 ],
       [ 6.4 ,  2.8 ,  5.6 ,  2.2 ,  2.  , 12.32],
       [ 6.3 ,  2.8 ,  5.1 ,  1.5 ,  2.  ,  7.65],
       [ 6.1 ,  2.6 ,  5.6 ,  1.4 ,  2.  ,  7.84],
       [ 7.7 ,  3.  ,  6.1 ,  2.3 ,  2.  , 14.03],
       [ 6.3 ,  3.4 ,  5.6 ,  2.4 ,  2.  , 13.44],
       [ 6.4 ,  3.1 ,  5.5 ,  1.8 ,  2.  ,  9.9 ],
       [ 6.  ,  3.  ,  4.8 ,  1.8 ,  2.  ,  8.64],
       [ 6.9 ,  3.1 ,  5.4 ,  2.1 ,  2.  , 11.34],
       [ 6.7 ,  3.1 ,  5.6 ,  2.4 ,  2.  , 13.44],
       [ 6.9 ,  3.1 ,  5.1 ,  2.3 ,  2.  , 11.73],
       [ 5.8 ,  2.7 ,  5.1 ,  1.9 ,  2.  ,  9.69],
       [ 6.8 ,  3.2 ,  5.9 ,  2.3 ,  2.  , 13.57],
       [ 6.7 ,  3.3 ,  5.7 ,  2.5 ,  2.  , 14.25],
       [ 6.7 ,  3.  ,  5.2 ,  2.3 ,  2.  , 11.96],
       [ 6.3 ,  2.5 ,  5.  ,  1.9 ,  2.  ,  9.5 ],
       [ 6.5 ,  3.  ,  5.2 ,  2.  ,  2.  , 10.4 ],
       [ 6.2 ,  3.4 ,  5.4 ,  2.3 ,  2.  , 12.42],
       [ 5.9 ,  3.  ,  5.1 ,  1.8 ,  2.  ,  9.18]])

Similar calculations possible with NumPy & Pandas:

In [57]:
species = data_array[:, -2]  # select the column with the species
unique_species, counts = np.unique(species, return_counts=True)
print("Species and their counts:", dict(zip(unique_species, counts)))

Species and their counts: {0.0: 50, 1.0: 50, 2.0: 50}

Compute mean and standard deviation for each feature.

In [58]:
mean_values = np.mean(data_array, axis=0)
std_deviation = np.std(data_array, axis=0)
mean_values = mean_values.round(2)
std_deviation = std_deviation.round(2)
print("Mean of each feature:", mean_values)
print("Standard deviation of each feature:", std_deviation)

Mean of each feature: [5.84 3.05 3.76 1.2  1.   5.79]
Standard deviation of each feature: [0.83 0.43 1.76 0.76 0.82 4.7 ]

Calculate Pearson correlation with continuous numerical variables.

In [60]:
correlation_matrix = np.corrcoef(data_array.T)  # Transpose due to expectation for the input format: variables (features) as rows, observations as columns
print("Correlation matrix:\n", correlation_matrix)

Correlation matrix:
 [[ 1.         -0.10936925  0.87175416  0.81795363  0.78256123  0.85732586]
 [-0.10936925  1.         -0.4205161  -0.35654409 -0.4194462  -0.28061173]
 [ 0.87175416 -0.4205161   1.          0.9627571   0.94904254  0.95847224]
 [ 0.81795363 -0.35654409  0.9627571   1.          0.95646382  0.98022894]
 [ 0.78256123 -0.4194462   0.94904254  0.95646382  1.          0.95014238]
 [ 0.85732586 -0.28061173  0.95847224  0.98022894  0.95014238  1.        ]]

Select data.

In [69]:
filtered_data = data_array[data_array[:, 2] > 2.0] # Example: Filter data where petal length (third column) is greater than 2.0 cm
print('Full data sample size:', data_array.size)
print('Filtered data sample size:', filtered_data.size)

Full data sample size: 900
Filtered data sample size: 600